.topbar {
  span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
}

$topbar-background-color: #0069CC;
$topbar-download-url-wrapper-element-border-color: #F7A626;
$topbar-download-url-button-background-color: #F7A626;