// Custom topbar
.topbar {
  display: flex;
  height: 48px;
  align-items: center;
  span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
  .wrapper {
    width: 100%;
    max-width: 980px;
  }
}

// Removed base-url
.info {
  .main {
   .base-url {
     display: none;
   }
  }
}

// Hide main URL
.info {
  hgroup.main a {
    display: none;
  }
}

// Custom wrapper
.swagger-ui {
  .wrapper {
    width: 100%;
    max-width: 980px;
  }
}

// Variable overrides
$topbar-background-color: #0069CC;
$topbar-download-url-wrapper-element-border-color: #F7A626;
$topbar-download-url-button-background-color: #F7A626;